/* Reset adapted from knacss.css */
/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background-color: #fff;
	color: #000;
	font-size: 1.3em; /* font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5em;
	margin: 21px 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: 700;
	line-height: 1.6154em;
	margin: 42px 0 21px 0;
}
h2, .h2 {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: 700;
	line-height: 1.75em;
	margin: 42px 0 21px 0;
}
h3, .h3 {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: 700;
	line-height: 1.4em;
	margin: 42px 0 21px 0;
}
h4, .h4 {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin: 42px 0 21px 0;
}
h5, .h5 {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin: 42px 0 21px 0;
}
h6, .h6 {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin: 42px 0 21px 0;
}


/* soft reset */
html,
body,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 30px;
}
code,
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 21px; }
.m-reset { margin: 0 !important; }
.p-reset { padding: 0 !important; }

/* avoid collapsing margins on headings */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, object, video {
	max-width: 100%;
	height: auto;
}

/* switching box model for all elements except img */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


/* Polices de caracteres */
h1, h2, h3, #nom_site_spip, .page_biblio #contenu h4.h4, #slogan_site_spip, .page_plan #content div.menu > ul > li > a, .carroussel_rub, .font_titre
	{font-family: 'Open Sans Condensed', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif; font-weight: 700;}
body {font-family: 'Open Sans', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}
code, .spip_code, .spip_cadre, kbd, samp, var
	{font-family: "Source Code Pro", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;}

/* Couleurs */
#header, #content .formulaire_spip input.submit, #content .modererforum button.submit, .comment:hover > .modererforum,
#content .calendriermini .ui-state-highlight a
	{background-color: #B71C1C;} 
#header_barrenav {background-color: #F44336;} 
#barrenav li:hover, li.sfHover, #barrenav .menu-conteneur > ul > li  ul li:hover, #barrenav .menu-conteneur > ul > li.on {background-color: #B71C1C;} 
#barrenav li:hover > a, #barrenav .menu-conteneur > ul > li > a {color: white;}
#barrenav .menu-conteneur > ul > li  ul li {background-color: white;}

h1, .h1, h3 a
	{color: #B71C1C;}
#extra a
	{color: #B71C1C;}
a, p.soustitre, a.spip_in, a.spip_out, a.spip_url, a.spip_glossaire,
code, .spip_code, .spip_cadre, kbd, samp, var, .formulaire_spip fieldset.previsu legend
	{color: #B71C1C;}
.lien_titre_invisible h2 a {color: #000;}
	
blockquote, blockquote.spip, #content .formulaire_spip input.submit, 
#content .modererforum button.submit, .formulaire_spip fieldset.previsu, 
#content .calendriermini .ui-state-highlight a, #content .ui-state-highlight, 
#content .ui-widget-content .ui-state-highlight, #content .ui-widget-header .ui-state-highlight
	{border-color: #B71C1C;}
table.spip th, table.spip td {border: 1px solid #cccccc;}

table.spip tr.row_first, #content p.pagination a:hover,
#content p.pagination strong, #content .formulaire_spip input.submit:hover,
#content .modererforum button.submit:hover, .me > .comment > .comment-content,
#content .calendriermini .ui-state-highlight a:hover
	{background-color: #EF9A9A;}


.info-publi {color: #A98D76;}

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #B71C1C 0 0 10px 0;
  -moz-box-shadow: #B71C1C 0 0 10px 0;
  box-shadow: #B71C1C 0 0 10px 0;
  z-index: 1;
}

input.submit:focus {
  -webkit-box-shadow: #B71C1C 0 0 10px 0;
  -moz-box-shadow: #B71C1C 0 0 10px 0;
  box-shadow: #B71C1C 0 0 10px 0;
  z-index: 1;
}

#header_barrenav input:focus,
#header_barrenav button:focus,
#header_barrenav a.button:focus,
#header_barrenav select:focus,
#header_barrenav textarea:focus {
  -webkit-box-shadow: #ffffff 0 0 10px 0;
  -moz-box-shadow: #ffffff 0 0 10px 0;
  box-shadow: #ffffff 0 0 10px 0;
  z-index: 1;
}

#nom_site_spip a {color: #FFF; text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);}
#slogan_site_spip, #pied, #pied a {color: #FFF;}

#header {background-color: #B71C1C;}
#footer {background-color: #B71C1C;}
#extra, #carroussel,.rdv_date {background-color: #EEE;}
#extra, #carroussel, .un_rdv {border-color: #DDD;}

li.sfHover a, #content p.pagination a:hover,
#content p.pagination strong, #content .formulaire_spip input.submit:hover, #content .modererforum button.submit:hover
	{color: #666;}
table.spip tr.row_odd { background: #FFF; }
table.spip tr.row_even { background: #EEE; }

/* Layout  */

body {margin: 0; padding: 0; text-align: justify; background-color: #FFF;}

#bandeau {width:100%; height:75px;}
#header {position: relative; width:100%;}
#content {margin: 0; width:100%;}
#contenu {display: table-cell; padding: 0 10px; width: 800px; max-width:800px; vertical-align:top;}
#side {display: table-cell; width: 250px; padding: 20px 10px 0 10px; vertical-align:top;}
#retour_haut {width: 100%; margin: 10px 0 20px 0;}
#extra, #footer {margin:0;}
#extra {border-top-style: solid; border-top-width: 1px;}
#extra_content, #pied {max-width: 1000px; margin: 0 auto;}

#entete, #barrenav, #content {max-width: 1000px; margin:auto;}

@media only screen and  (max-width: 1000px) {
	#contenu {display: block; width: 100%;}
	#side {display: block; width: 100%;}
}

/* Liens */

a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* Header */

#entete {padding: 5px 10px 5px 10px; text-align: left;}
#entete img {padding: 0px; background-color: transparent; border: none; margin: 10px 15px 5px 0;}
#nom_site_spip {display: none;}
#slogan_site_spip {display: none;}

#header_barrenav #formulaire_menu_lang {padding: 10px;}
#header_barrenav #formulaire_menu_lang label {color: #FFF; font-weight: normal; display: none;}
#header_barrenav #formulaire_menu_lang select {height: auto; width: 100%; color: #888;} 

#barrenav {clear: both; font-size: 1em; letter-spacing: -0.03em}

@media only screen and  (max-width: 550px) {
	#entete {text-align:center;}
	#entete img {float: none; max-height: 100px; width: auto;}
	.contenu-principal .cartouche .spip_logos {max-width: 25%;}
	#nom_site_spip, #slogan_site_spip {margin-left:0;}
}

/* Menu barrenav + recherche */

#formulaire_recherche {text-align: center; padding: 10px; position:relative;}
#formulaire_recherche label {display: none;}
.formulaire_recherche input.text {
	background-image: none; 
	padding: 5px; padding-right: 25px;
	width: 100%; height: auto;
}
#formulaire_recherche input[type="submit"] {
	position: absolute; right: 15px; top:0px; height: 100%; width: 24px;
	background-color: transparent; background-image: url('img/search.png');
	background-position: center center; background-repeat: no-repeat;
	border: none; cursor: pointer; text-indent:-5000px;
}

#barrenav ul {list-style: none; padding: 0; margin: 0;}
#barrenav ul li {margin: 0; color: #FFF;  text-align: left;}

#barrenav div.menu-conteneur > ul.menu-liste > li a {display: block;}
#barrenav div.menu-conteneur > ul.menu-liste > li a:hover {display: block; text-decoration: none;}

#barrenav li:hover {visibility:		inherit;} /* fixes IE7 'sticky bug' */
#barrenav div.menu-conteneur > ul.menu-liste > li > a {padding: 5px 5px 5px 5px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul {padding:0; margin:0;}
#barrenav div.menu-conteneur > ul.menu-liste li ul a {padding: 5px 5px 5px 20px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul ul a {padding: 5px 5px 5px 40px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul ul ul a {padding: 5px 5px 5px 60px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul ul ul ul a {padding: 5px 5px 5px 80px;}
.menu-liste .on a {font-weight: normal;} /* Ne pas mettre en gras toute la branche */
.menu-liste .on > a {font-weight: bold;} 
#barrenav .menu-conteneur > ul > li.on > a {font-weight: normal;}

#label-toggle-barrenav, #toggle-barrenav {cursor: pointer;}
#label-toggle-barrenav + #toggle-barrenav { display: none; }

@media only screen and  (min-width: 1000px) {
	.sf-sub-indicator {float: right; font-size: 1.5em;}
	#barrenav div.menu-conteneur > ul.menu-liste > li > a {padding: 0;}
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul a,
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul ul a,
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul ul ul a,
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul ul ul ul a 
		{padding: 5px;}

	#barrenav .sf-js-enabled li {
		float:			left;
		position:		relative;
		width: 230px;
	}
	#barrenav .sf-js-enabled a {
		display:		block;
		position:		relative;
	}

	#barrenav .sf-js-enabled > li {
		float: none;
		display: inline-block;
	}
	
	#barrenav .sf-js-enabled ul {
	  width: 230px;
	  position: absolute;
	  margin-top: -99999px;
	  z-index: 999;
	}

	#barrenav .sf-js-enabled li:hover ul,
	#barrenav .sf-js-enabled li.sfHover ul {
		left: 229px;
		top: -1px;
		z-index: 199;
	}
	#barrenav div.menu-conteneur ul.sf-js-enabled li ul li {
		border-top-style: solid; border-top-width: 1px;
		border-left-style: solid; border-left-width: 1px;
		border-right-style: solid; border-right-width: 1px;
	}
	#barrenav div.menu-conteneur ul.sf-js-enabled li ul li:last-child {
		border-bottom-style: solid; border-bottom-width: 1px;
	}
	.sf-hidden {display: none; visibility: hidden;}
}


@media only screen and  (min-width: 1000px) {
	#header_barrenav #formulaire_menu_lang {text-align: right; width: 1000px; max-width: 100%; margin: 0 auto; position:absolute;}
	#header_barrenav #formulaire_menu_lang select {display: inline-block; width: 180px; position:relative; top:-45px;}
	#header_barrenav #formulaire_menu_lang p.boutons {display:inline-block; position: relative; top:-60px;}
	#formulaire_recherche {width: 1000px; max-width: 100%; margin: 0 auto; position:absolute; text-align:right;}
	#formulaire_recherche input {border-bottom: none; display: inline-block; width:180px; position: relative;}
	#barrenav div.menu-conteneur {margin-right: 200px;}
	
	
	
	.nojs #barrenav div.menu-conteneur {position:relative; z-index:9999;}
	.nojs #barrenav div.menu-conteneur > ul.menu-liste > li > ul {display: none;}
	.nojs #barrenav div.menu-conteneur > ul.menu-liste > li:hover > ul {display: block; position: absolute;}

	#barrenav div.menu-conteneur > ul.sf-js-enabled > li {width:auto; height: 49px; padding-top: 15px; padding-left: 5px;}
	#barrenav div.menu-conteneur > ul.sf-js-enabled > li > a > .sf-sub-indicator {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		margin-right: -20px;
	}
	#barrenav div.menu-conteneur > ul.menu-liste > li > a.sf-with-ul {padding-right: 30px;}
	#barrenav div.menu-conteneur > ul.sf-js-enabled > li.sfHover > ul {
		left: 0;
		top: 49px;
		border: solid 1px #cccccc;
		border:1px solid rgba(0,0,0,0.15);
		border-radius:4px;
		-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);
		box-shadow:0 6px 12px rgba(0,0,0,0.175);
	}
}

@media only screen and  (max-width: 1000px) {
	.sf-sub-indicator {display: none;}
	#barrenav ul, #barrenav li  {display: block;}
	#label-toggle-barrenav {
		position: absolute;
		top: 20px; right: 20px;
		z-index: 1337;
		width: 38px;
		height: 40px;
		background-image: url('img/menu.png');
		background-repeat: no-repeat;
	}
	#barrenav #toggle-barrenav:checked + #toggle-div {display: block;	}
	#barrenav #toggle-div {display: none;}
}

ul.menu-liste .menu-address > a:before { content: '\e805'; }
ul.menu-liste .menu-group > a:before { content: '\e803'; }
ul.menu-liste .menu-beaker > a:before { content: '\e808'; }
ul.menu-liste .menu-book> a:before { content: '\e80e'; }
ul.menu-liste .menu-graduation-cap > a:before { content: '\e806'; }
ul.menu-liste .menu-phone-squared > a:before { content: '\e820'; }
ul.menu-liste .menu-calendar > a:before { content: '\e80f'; }
ul.menu-liste .menu-rss-alt > a:before { content: '\e802'; }
ul.menu-liste .menu-mail-alt > a:before { content: '\e81a'; }
ul.menu-liste .menu-folder-open > a:before { content: '\e81c'; }
ul.menu-liste .menu-location > a:before { content: '\e812'; }
ul.menu-liste .menu-gplus > a:before { content: '\e80a'; }
ul.menu-liste .menu-youtube > a:before { content: '\e809'; }
ul.menu-liste .menu-info-circled > a:before { content: '\e801'; }
ul.menu-liste .menu-info > a:before { content: '\e807'; }
ul.menu-liste .menu-megaphone > a:before { content: '\e811'; }
ul.menu-liste .menu-rss > a:before { content: '\e823'; }

ul.menu-liste [class^="menu-"] > a:before, ul.menu-liste  [class*=" menu-"] > a:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .5em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Contenu */
h1, .h1 {font-size: 2.5em; margin: 10px 0; text-align: left; line-height: 110%;}
h2, .h2 {text-align: left; line-height: 1.2em;}
h3, .h3 {font-size: 1.5em; text-align: left;}
#side li.item h3, #side li.item .h3 {font-size: 1.25em;}



#content p, #content ul { 
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word; 
}

img.spip_logos {float: right; background-color: white; padding: 10px; border: solid 1px #DDD; margin-left: 10px;}
.contenu-principal img.spip_logos {padding: 0; border: none; margin-left: 25px;}
.contenu-principal > div {clear: both;}

p#hierarchie {margin: 10px 0; color: #BBB; text-align:left;}
p#hierarchie a {color: #BBB;}

p.surtitre {margin: 10px 0; font-weight: bold; font-size: 1.5em;}
p.soustitre {margin: 10px 0; font-style: italic; font-size: 1.5em;}

.chapo p, .ps p, #descriptif_site_spip {font-weight: bold; color: #666;}
.notes div {padding-left: 30px;  text-align: justify;}
.notes .spip_note_ref {float: left; margin-left: -30px;}

.hyperlien {border: solid 1px #DDD; background-color: #EEE; padding: 5px;}

/* Spip Styles */

/* abbr[title], acronym[title], dfn[title] {border-bottom: dotted 1px;} */
acronym[title], dfn[title] {border-bottom: dotted 1px;}
abbr.dtreviewed {border:none;}
a[hreflang]:after{content: " ("attr(hreflang)")";}
a[href^="mailto:"]:after {content: url(img/mail_link.gif);}
a.spip_out:after {content: url(img/external_link.gif);}
#pied a[href^="mailto:"]:after {content: "";}
#pied a.spip_out:after {content: "";}
a[hreflang].spip_out:after{content: " ("attr(hreflang)")"url(img/external_link.gif);}
.spip_cadre {width: 100%; border: solid 4px #BBB; background-color: #EEE; padding: 5px;}
.spip_cadre:hover {color:#666;}
blockquote, blockquote.spip {
	margin-left: 30px; padding: 15px;
	border-left-style: solid;
	border-left-width: 5px;
	background-color: #EEE;
}
q {font-style: italic;}
q:before {content: open-quote;}
q:after {content: close-quote;}

/* Tableaux */
table.spip { margin-right: auto; margin-left: auto; margin-bottom: 1em; border-collapse: collapse; border-spacing: 0; line-height: normal; width: 100%;}
table.spip caption { caption-side: top; /* bottom pas pris en compte par IE */ text-align: center; margin-right: auto; margin-left: auto; font-weight: bold; }
table.spip th, table.spip td { padding: 0.20em 0.40em; text-align: left; }
table.spip th { vertical-align: bottom; font-weight: bold; }
table.spip td { vertical-align: top; }
table.spip p {margin:0;}

/* Portfolio et documents joints */
.documents_portfolio {text-align: left;}
.documents_portfolio .spip_logos {float: none; margin: 0; margin-right: 5px;}
.documents_portfolio a:hover {text-decoration: none;}

.documents_joints .spip_logos {float: left; padding: 0; margin: 0 10px 0 0; border: none;}

/* Listes */

#content ul.liste-items {list-style-type: none; padding:0; text-align: left;}
#content li.item {padding: 5px 0; clear: both;}
#content ul.liste-noisettes li.noisette {padding-left: 30px;} /* Pour le noizetier, voir=noisettes */
#content li.item h3, #content li.item h2 {margin-bottom: 5px; padding-top: 10px; margin-top: 10px; border-top: #EEE solid 1px; line-height: 1.5em;}
#content li.item:first-child h3 {border-top: none; margin-top: 0; padding-top: 10px;}
#content li.item .info-publi {font-size: 90%; margin-bottom: 10px;}
#content li.item .entry-content {text-align: justify;}
#content li.item .meta-publi {font-size: 90%; margin-top: 10px;}
#content li.item .meta-publi .sep {color: #DDD; padding: 0 10px; font-size: 200%;}
#content p.pagination {text-align: right; margin: 0;}
#content p.pagination .sep {display: none;}
#content p.pagination a, #content p.pagination strong {
	display: inline-block;
	border: solid 1px #BBB;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 3px;
	padding: 2px 8px;

}

/* Formulaires */

#content .formulaire_spip {border: solid 5px #DDD; background-color: #EEE; padding: 10px;}
#content .formulaire_spip legend {background-color: transparent;}
#content .formulaire_spip input.submit, #content .modererforum button.submit
	{border-style: solid; border-width: 4px; padding: 5px; color: #FFF; background-image: none;
	-webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0;
	text-shadow: none;}
#content .formulaire_spip input.submit:hover, #content .modererforum button.submit:hover
	{border-color:#BBB;}
#content .formulaire_spip textarea  {width: 100%;}
#content .formulaire_spip {margin-bottom: 20px;}
.formulaire_login .spip_logos {padding: 0;}
li.fieldset, .formulaire_spip ul li.fieldset {padding: 10px; border: dotted 2px #BBB; margin: 10px 0;}
.formulaire_spip h3, .formulaire_spip .h3 {margin: 5px 0;}

p.reponse_formulaire_ok, p.reponse_formulaire_erreur {
	border:2px solid;
	font-weight:normal;
	padding:5px;
	padding-left:40px;
	min-height:24px;
	margin-bottom:5px;
}
p.reponse_formulaire_ok {
	border-color:#53AD20;
	color:#53AD20;
}
p.reponse_formulaire_erreur {
	border-color:#C30;
	color: #C30;
}

.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea, .formulaire_spip li.erreur select { background-color: #FCC; border-style: solid; border-color: #C30; }

/* Forum */
ul.comments-ul {list-style: none; padding:0; margin: 0;}
div.comments > ul.forum > li {border: solid 1px #BBB; margin-bottom: 25px}
div.comments > ul.forum > li li {border-top: solid 1px #BBB;}
div.comments > ul.forum > li .formulaire_spip li {border-top: none;}
div.comments > ul.forum > li .previsu li {border: none;}
ul.forum .spip_logos {float: none; padding: 1px; border:none;}
.comment-meta {display: table-cell; width: 25%; background-color: #DDD; padding: 10px; text-align: center;}
.comment-meta .permalink {float: left; color: #666;}
.comment-meta .in-reply-to {display: none;}
.comment-content {display: table-cell; padding: 10px; background-color: #FFF;}
div.comments > ul.forum li .comment-content li {border: none;}
#content ul.comments-ul .formulaire_spip {margin-bottom: 0;}
p.comment-reply {text-align: right; margin-top: 20px;}
.modererforum {display:none;} /* afficher les boutons seulement au survol */
.comment:hover > .modererforum {display: block; text-align: left; padding-left: 25%; text-align: right;}
.modererforum form {display: inline-block;}
.modererforum form button {margin-left: 10px;}

/* Pied de page */

#retour_haut {text-align: right; padding-right:10px;}
#extra {padding: 20px 5px;}
#extra div.menu ul {padding-left: 0; list-style:none;}
#extra_content > div {display: table-cell; width:250px; padding-right:20px; text-align:left;}
#pied {padding: 20px 5px;}
.formulaire_newsletter p.boutons {text-align:left;}
.formulaire_newsletter p.boutons input {margin: 2px;}
.formulaire_newsletter li.editer_session_email {padding-top:0;}
@media only screen and (max-width: 750px) {
	#extra_content > div  {display: block; width:100%; max-width:100%;}
}


/* Page mots-clés */

body.page_mots #content div.noisette_liste_mots_cles li.item {display:block; width: 33%; height:4.5em; float:left; clear:none; padding-right:5px;}
body.page_mots #content div.noisette_liste_mots_cles li.item[float="left"] + li.item {float:none;}
body.page_mots #content h2 {clear: both;}
body.page_mot .info-publi a {color:#000;}
@media only screen and  (max-width: 700px) {
	body.page_mots #content div.noisette_liste_mots_cles li.item {width: 49%;}
}

/* Carte pays */
#carte_recherche * {box-sizing: content-box;}
#carte_recherche {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Carroussel Actus */
#carroussel {
	border-style: solid; border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 21px;
}
#carroussel > div.cycle-slideshow {display:table; width:100%;}
#carroussel > div.cycle-slideshow > div {display: table-row;}
#carroussel > div.cycle-slideshow > div > div {display: table-cell; width:33%; padding: 10px; text-align: left;}
#carroussel > div.cycle-slideshow > div > div img.spip_logos {width: 100%; float:none; box-sizing: border-box; -moz-box-sizing:border-box; margin: 0; padding:1px; height:auto;}
#carroussel p {margin:0;}
.carroussel_rub {color: black; font-size: 1.2em; text-align: center;}
.carroussel_titre {padding-top: 5px; font-weight: bold;}
.carroussel_date, .carroussel_intro {color: black; font-weight:normal;}
.carroussel_intro {font-size: .85em;}
.cycle-nav {text-align: center; font-size:2.3em; letter-spacing:0.1em; color: #BBB;}
.cycle-pager span {cursor: pointer;}
span.cycle-pager-active {color: #666;}
.all-news {text-align: right; padding: 0 10px 10px 0; font-weight: bold;}
#carroussel a:hover {text-decoration: none;}

@media only screen and (max-width: 400px) {
	#carroussel > div.cycle-slideshow > div > div {display: block; width:100%; max-width:100%;}
}


/* Rendez-vous */

.rdv+.rdv {margin-top: 20px;}
.rdv div.un_rdv {display:table-cell; width:25%; text-align:left; border-style: solid; border-width: 1px; border-top: none; border-right: none;}
.rdv_titre {font-weight: bold;}
.rdv_date {padding: 3px 10px; font-size: 1.5em; display:inline-block; color: black;}
.rdv_jour {font-weight: bold;}
.rdv_mois {font-size: .7em;}
.rdv_infos{padding: 10px 20px 10px 10px;}
.rdv_type, .rdv_heure {color: black; font-size: .85em;}
.rdv a:hover {text-decoration: none;}
.all-evts {text-align: right; padding: 10px 0 10px 0; font-weight: bold;}

@media only screen and (max-width: 500px) {
	.rdv div.un_rdv {display: block; width:100%;}
}

/* Publications */

.voir_biblio {text-align: right; padding: 10px 0 10px 0; font-weight: bold;}

/* Agenda */
.page_evenement .contenu-principal .surtitre {font-size: 2em;}
.qtip {font-size: .9em;}
.qtip h3 {font-size: 1.3em; line-height: auto;}

/* Mots-clés des articles */

#side .noisette_article-mots_cles li a:before { 
	content: '\e814';
	  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}

/* Plan du site */

.page_plan #content div.menu > ul {list-style:none; padding-left:0;}
.page_plan #content div.menu > ul > li > a {font-size: 1.7143em; color:black; line-height: 3em;}

/* Styles pour noisette */
.img_no_border img.spip_logos {border: none;}
.img_no_border dt span {display: inline-block; padding: 0 20px;}

ul.liste_3col, ul.liste_type_none {padding-left:0; list-style: none;}
ul.liste_3col li {display:block; width: 33%; height:3em; float:left; clear:none; padding-right:10px; text-align: left;}
ul.liste_3col li[float="left"] + li {float:none;}
@media only screen and  (max-width: 700px) {
	ul.liste_3col li {width: 49%;}
}

/*.lien_titre_invisible   voir  couleurs */
#extra_content > div.display_block {display:block; width:auto;}


