/* Reset adapted from knacss.css */
/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background-color: #fff;
	color: #000;
	font-size: 1.3em; /* font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5em;
	margin: 21px 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: normal;
	line-height: 1.6154em;
	margin: 42px 0 21px 0;
}
h2, .h2 {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: 42px 0 21px 0;
}
h3, .h3 {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: 42px 0 21px 0;
}
h4, .h4 {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin: 42px 0 21px 0;
}
h5, .h5 {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin: 42px 0 21px 0;
}
h6, .h6 {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin: 42px 0 21px 0;
}


/* soft reset */
html,
body,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 30px;
}
code,
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 21px; }
.m-reset { margin: 0 !important; }
.p-reset { padding: 0 !important; }

/* avoid collapsing margins on headings */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, object, video {
	max-width: 100%;
	height: auto;
}

/* you shall not pass */
textarea, table, td, th, code, pre, samp, div, p {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}


/* switching box model for all elements except img */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


/* Polices de caracteres */
h1, h2, h3, #nom_site_spip, .page_biblio #contenu h4.h4
	{font-family: 'Lobster', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;}
body, li.item h3 {font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;}
code, .spip_code, .spip_cadre, kbd, samp, var
	{font-family: "Source Code Pro", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;}

/* Couleurs */
#header, #content .formulaire_spip input.submit, #content .modererforum button.submit, .comment:hover > .modererforum,
#content .calendriermini .ui-state-highlight a
	{background-color: #36a786;} 
h1, .h1, a, p.soustitre, a.spip_in, a.spip_out, a.spip_url, a.spip_glossaire,
code, .spip_code, .spip_cadre, kbd, samp, var, .formulaire_spip fieldset.previsu legend
	{color: #36a786;}
#barrenav li, blockquote, blockquote.spip, #content .formulaire_spip input.submit, 
#content .modererforum button.submit, .formulaire_spip fieldset.previsu, 
#content .calendriermini .ui-state-highlight a, #content .ui-state-highlight, 
#content .ui-widget-content .ui-state-highlight, #content .ui-widget-header .ui-state-highlight
	{border-color: #36a786;}
table.spip th, table.spip td {border: 1px solid #36a786;}

#barrenav li:hover, li.sfHover, table.spip tr.row_first, #content p.pagination a:hover,
#content p.pagination strong, #content .formulaire_spip input.submit:hover,
#content .modererforum button.submit:hover, .me > .comment > .comment-content,
#content .calendriermini .ui-state-highlight a:hover
	{background-color: #b4ded2;}

.info-publi {color: #A98D76;}

#content input:focus,
#content button:focus,
#content a.button:focus,
#content select:focus,
#content textarea:focus {
  -webkit-box-shadow: #36a786 0 0 10px 0;
  -moz-box-shadow: #36a786 0 0 10px 0;
  box-shadow: #36a786 0 0 10px 0;
  z-index: 1;
}

#header input:focus,
#header button:focus,
#header a.button:focus,
#header select:focus,
#header textarea:focus {
  -webkit-box-shadow: #ffffff 0 0 10px 0;
  -moz-box-shadow: #ffffff 0 0 10px 0;
  box-shadow: #ffffff 0 0 10px 0;
  z-index: 1;
}

#nom_site_spip a {color: #FFF;}
#pied {background: #EEE; border-top-color: #BBB;} 
#barrenav li:hover a, li.sfHover a, #content p.pagination a:hover,
#content p.pagination strong, #content .formulaire_spip input.submit:hover, #content .modererforum button.submit:hover
	{color: #666;}
table.spip tr.row_odd { background: #FFF; }
table.spip tr.row_even { background: #EEE; }

/* Layout  */

body {margin: 0; padding: 0; text-align: justify;}
#header {
	width: 250px;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
}
#content {margin-left:250px;}
#contenu {display: table-cell; padding: 0 75px 0 25px; width: 800px;}
#side {display: table-cell; width: 250px; padding: 0 25px 0 10px;}
#pied, #retour_haut {width: 1025px; margin: 10px 10px 0 25px;}

@media only screen and  (min-width: 950px) and (max-width: 1350px) {
	#header {width: 200px;}
	#side {width: 200px;}
	#content {margin-left: 200px;}
	#contenu {width: 75%; padding: 0 25px;}
	#side {width:25%; padding: 0 10px;}
	#pied, #retour_haut {width: auto;}
}

@media only screen and  (max-width: 950px) {
	#header {position: relative; width:100%;}
	#content {margin-left: 0; width:100%;}
	#contenu {padding: 0 10px}
	#pied, #retour_haut {width: 100%; margin: 10px 0 0 0;}
}

@media only screen and  (max-width: 750px) {
	#contenu {display: block; width: 100%;}
	#side {display: block; width: 100%;}
}

/* Liens */

a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* Header */

#entete {padding: 10px; text-align: center;}
#entete img {max-width: 150px; padding: 10px; background-color: white; float: none; border: none; margin: 0;}
#nom_site_spip {font-size: 2.5em; font-weight: normal; display: block;}
#nom_site_spip a {text-decoration: none; border: none;}

#formulaire_menu_lang {padding: 10px;}
#formulaire_menu_lang label {color: #FFF; font-weight: normal;}
#formulaire_menu_lang select {height: auto; width: 100%; color: #888;} 

@media only screen and  (max-width: 950px) {
	#entete img {float: left; max-height: 100px; width: auto; max-width: none;}
	#barrenav {clear: both;}
}
@media only screen and  (max-width: 550px) {
	#entete img {float: none; max-width: 100px; height: auto; max-height: none;}
	.contenu-principal .cartouche .spip_logos {max-width: 25%;}
}

/* Menu barrenav + recherche */

#header div, #header p {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;
	hyphens: none;
}

#formulaire_recherche {text-align: center; padding: 10px; position:relative;}
#formulaire_recherche label {display: none;}
.formulaire_recherche input.text {
	background-image: none; 
	padding: 5px; padding-right: 25px;
	width: 100%; height: auto;
}
#formulaire_recherche input[type="submit"] {
	position: absolute; right: 15px; top:0px; height: 100%; width: 24px;
	background-color: transparent; background-image: url('img/search.png');
	background-position: center center; background-repeat: no-repeat;
	border: none; cursor: pointer; text-indent:-5000px;
}

#barrenav ul {list-style: none; padding: 10px; margin: 0;}
#barrenav ul li {margin: 0; padding:0; background-color: #FFF;  text-align: left;}
#barrenav div.menu-conteneur > ul.menu-liste > li {
	border-top-style: solid; border-top-width: 1px;
	border-left-style: solid; border-left-width: 1px;
	border-right-style: solid; border-right-width: 1px;
}
#barrenav div.menu-conteneur > ul.menu-liste > li li {
	border-top-style: solid; border-top-width:  1px; 
}
#barrenav div.menu-conteneur > ul.menu-liste > li a {display: block; padding: 5px; border-bottom-style: none;}

#barrenav div.menu-conteneur > ul.menu-liste > li:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#barrenav div.menu-conteneur > ul.menu-liste > li:last-child {
	border-bottom-style: solid; 
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#barrenav li:hover {visibility:		inherit;} /* fixes IE7 'sticky bug' */
#barrenav div.menu-conteneur > ul.menu-liste li ul {padding:0; margin:0;}
#barrenav div.menu-conteneur > ul.menu-liste li ul a {padding: 5px 5px 5px 20px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul ul a {padding: 5px 5px 5px 40px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul ul ul a {padding: 5px 5px 5px 60px;}
#barrenav div.menu-conteneur > ul.menu-liste li ul ul ul ul a {padding: 5px 5px 5px 80px;}
.menu-liste .on a {font-weight: normal;} /* Ne pas mettre en gras toute la branche */
.menu-liste .on > a {font-weight: bold;} 

#label-toggle-barrenav, #toggle-barrenav {cursor: pointer;}
#label-toggle-barrenav + #toggle-barrenav { display: none; }

@media only screen and  (min-width: 750px) {
	.sf-sub-indicator {float: right; font-size: 1.5em;}
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul a,
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul ul a,
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul ul ul a,
	#barrenav div.menu-conteneur > ul.sf-js-enabled li ul ul ul ul a 
		{padding: 5px;}

	#barrenav .sf-js-enabled li {
		float:			left;
		position:		relative;
		width: 230px;
	}
	#barrenav .sf-js-enabled a {
		display:		block;
		position:		relative;
	}

	#barrenav .sf-js-enabled ul {
	  width: 230px;
	  position: absolute;
	  margin-top: -99999px;
	  z-index: 999;
	}


	#barrenav .sf-js-enabled li:hover ul,
	#barrenav .sf-js-enabled li.sfHover ul {
		left: 229px;
		top: -1px;
		z-index: 99;
	}
	#barrenav div.menu-conteneur ul.sf-js-enabled li ul li {
		border-top-style: solid; border-top-width: 1px;
		border-left-style: solid; border-left-width: 1px;
		border-right-style: solid; border-right-width: 1px;
	}
	#barrenav div.menu-conteneur ul.sf-js-enabled li ul li:last-child {
		border-bottom-style: solid; border-bottom-width: 1px;
	}
	.sf-hidden {display: none; visibility: hidden;}
}

@media only screen and  (min-width: 950px) and (max-width: 1350px) {
	#barrenav .sf-js-enabled ul, #barrenav .sf-js-enabled li {
  		width: 177px;
	}
	#barrenav .sf-js-enabled li:hover ul,
	#barrenav .sf-js-enabled li.sfHover ul {
		left: 176px;
	}
}

@media only screen and  (min-width: 750px) and (max-width: 950px) {
	#formulaire_menu_lang {text-align: right; padding: 0 10px;}
	#formulaire_menu_lang label {display: inline;}
	#formulaire_menu_lang select {display: inline-block; width: 180px;}
	#formulaire_recherche {width: 200px; position: absolute; right: 0;}
	#formulaire_recherche input {border-bottom: none;}
	#barrenav div.menu-conteneur {margin-right: 200px;}
	#barrenav div.menu-conteneur > ul.menu-liste > li {
		float: left;
		border-right-style: none;
	}
	#barrenav div.menu-conteneur > ul.menu-liste > li:first-child {
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topright: 0;
		border-top-right-radius: 0;
	}
	#barrenav div.menu-conteneur > ul.menu-liste > li:last-child {
		border-right-style: solid; 
		border-bottom-style: none;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}
	#barrenav div.menu-conteneur > ul.menu-liste > li > a {padding: 5px 20px;}
	#barrenav div.menu-conteneur > ul.menu-liste > li > ul {display: none;}
	#barrenav div.menu-conteneur > ul.menu-liste > li:hover > ul {display: block; position: absolute;}
	#barrenav div.menu-conteneur > ul.menu-liste > li > ul > li {
		border-bottom-style: solid; border-bottom-width: 1px;
		border-left-style: solid; border-left-width: 1px;
		border-right-style: solid; border-right-width: 1px;
		border-top-style: none;
	}
	#barrenav div.menu-conteneur > ul.menu-liste > li > ul > li:first-child {
		border-top-style: solid; border-top-width: 1px;
	}
	#barrenav div.menu-conteneur > ul.menu-liste li ul a {padding: 5px 20px 5px 20px;}
	#barrenav div.menu-conteneur > ul.menu-liste li ul ul a {padding: 5px 20px 5px 40px;}
	#barrenav div.menu-conteneur > ul.menu-liste li ul ul ul a {padding: 5px 20px 5px 60px;}
	#barrenav div.menu-conteneur > ul.menu-liste li ul ul ul ul a {padding: 20px 15px 5px 80px;}

	#barrenav div.menu-conteneur > ul.sf-js-enabled > li {width:auto; height: 30px;}
	#barrenav div.menu-conteneur > ul.sf-js-enabled > li > a > .sf-sub-indicator {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		margin-right: -30px;
	}
	#barrenav div.menu-conteneur > ul.menu-liste > li > a.sf-with-ul {padding-right: 40px;}
	#barrenav div.menu-conteneur > ul.sf-js-enabled > li.sfHover > ul {
		left: 0;
		top: 30px;
	}
}

@media only screen and  (max-width: 750px) {
	.sf-sub-indicator {display: none;}
	#barrenav ul, #barrenav li  {display: block;}
	#label-toggle-barrenav {
		position: absolute;
		top: 20px; right: 20px;
		z-index: 1337;
		width: 38px;
		height: 40px;
		background-image: url('img/menu.png');
		background-repeat: no-repeat;
	}
	#barrenav #toggle-barrenav:checked + #toggle-div {display: block;	}
	#barrenav #toggle-div {display: none;}
}

/* Contenu */
h1, .h1 {font-size: 4em; font-weight: normal; margin: 10px 0; text-align: left; line-height: 110%;}
h2, .h2 {font-weight: normal; text-align: left;}
h3, .h3 {font-size: 1.5em; font-weight: normal; text-align: left;}
#side li.item h3, #side li.item .h3 {font-size: 1.25em;}

img.spip_logos {float: right; background-color: white; padding: 10px; border: solid 1px #DDD; margin-left: 10px;}
.contenu-principal img.spip_logos {padding: 0; border: none; margin-left: 25px;}
.contenu-principal > div {clear: both;}

p#hierarchie {margin: 10px 0; color: #BBB;}
p#hierarchie a {color: #BBB;}

p.surtitre {margin: 10px 0; font-weight: bold;}
p.soustitre {margin: 10px 0; font-style: italic; font-size: 1.15em; text-align: right;}

.chapo p, .ps p, #descriptif_site_spip {font-weight: bold; color: #666;}
.notes div {padding-left: 30px;  text-align: justify;}
.notes .spip_note_ref {float: left; margin-left: -30px;}

.hyperlien {border: solid 1px #DDD; background-color: #EEE; padding: 5px;}

/* Spip Styles */

abbr[title], acronym[title], dfn[title] {border-bottom: dotted 1px;}
abbr.dtreviewed {border:none;}
a[hreflang]:after{content: " ("attr(hreflang)")";}
a[href^="mailto:"]:after {content: url(img/mail_link.gif);}
a.spip_out:after {content: url(img/external_link.gif);}
#pied a[href^="mailto:"]:after {content: "";}
#pied a.spip_out:after {content: "";}
a[hreflang].spip_out:after{content: " ("attr(hreflang)")"url(img/external_link.gif);}
.spip_cadre {width: 100%; border: solid 4px #BBB; background-color: #EEE; padding: 5px;}
.spip_cadre:hover {color:#666;}
blockquote, blockquote.spip {
	margin-left: 30px; padding: 15px;
	border-left-style: solid;
	border-left-width: 5px;
	background-color: #EEE;
}
q {font-style: italic;}
q:before {content: open-quote;}
q:after {content: close-quote;}

/* Tableaux */
table.spip { margin-right: auto; margin-left: auto; margin-bottom: 1em; border-collapse: collapse; border-spacing: 0; line-height: normal; width: 100%;}
table.spip caption { caption-side: top; /* bottom pas pris en compte par IE */ text-align: center; margin-right: auto; margin-left: auto; font-weight: bold; }
table.spip th, table.spip td { padding: 0.20em 0.40em; text-align: left; }
table.spip th { vertical-align: bottom; font-weight: bold; }
table.spip td { vertical-align: top; }

/* Portfolio et documents joints */
.documents_portfolio {text-align: left;}
.documents_portfolio .spip_logos {float: none; margin: 0; margin-right: 5px;}
.documents_portfolio a:hover {text-decoration: none;}

.documents_joints .spip_logos {float: left; padding: 0; margin: 0 10px 0 0; border: none;}

/* Listes */

#content ul.liste-items {list-style-type: none; padding:0; text-align: left;}
#content li.item {padding: 5px 0; clear: both;}
#content ul.liste-noisettes li.noisette {padding-left: 30px;} /* Pour le noizetier, voir=noisettes */
#content li.item h3 {margin-bottom: 5px; padding-top: 10px; margin-top: 10px; border-top: #EEE solid 1px; line-height: 1.5em;}
#content li.item:first-child h3 {border-top: none; margin-top: 0; padding-top: 10px;}
#content li.item .info-publi {font-size: 90%; margin-bottom: 10px;}
#content li.item .entry-content {text-align: justify;}
#content li.item .meta-publi {font-size: 90%; margin-top: 10px;}
#content li.item .meta-publi .sep {color: #DDD; padding: 0 10px; font-size: 200%;}
#content p.pagination {text-align: right; margin: 0;}
#content p.pagination .sep {display: none;}
#content p.pagination a, #content p.pagination strong {
	display: inline-block;
	border: solid 1px #BBB;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 3px;
	padding: 2px 8px;

}

/* Formulaires */

#content .formulaire_spip {border: solid 5px #DDD; background-color: #EEE; padding: 10px;}
#content .formulaire_spip legend {background-color: transparent;}
#content .formulaire_spip input.submit, #content .modererforum button.submit
	{border-style: solid; border-width: 4px; padding: 5px; color: #FFF; background-image: none;
	-webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0;
	text-shadow: none;}
#content .formulaire_spip input.submit:hover, #content .modererforum button.submit:hover
	{border-color:#BBB;}
#content .formulaire_spip textarea  {width: 100%;}
#content .formulaire_spip {margin-bottom: 20px;}
.formulaire_login .spip_logos {padding: 0;}
li.fieldset, .formulaire_spip ul li.fieldset {padding: 10px; border: dotted 2px #BBB; margin: 10px 0;}
.formulaire_spip h3, .formulaire_spip .h3 {margin: 5px 0;}

p.reponse_formulaire_ok, p.reponse_formulaire_erreur {
	border:2px solid;
	font-weight:normal;
	padding:5px;
	padding-left:40px;
	min-height:24px;
	margin-bottom:5px;
}
p.reponse_formulaire_ok {
	border-color:#53AD20;
	color:#53AD20;
}
p.reponse_formulaire_erreur {
	border-color:#C30;
	color: #C30;
}

.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea, .formulaire_spip li.erreur select { background-color: #FCC; border-style: solid; border-color: #C30; }

/* Forum */
ul.comments-ul {list-style: none; padding:0; margin: 0;}
div.comments > ul.forum > li {border: solid 1px #BBB; margin-bottom: 25px}
div.comments > ul.forum > li li {border-top: solid 1px #BBB;}
div.comments > ul.forum > li .formulaire_spip li {border-top: none;}
div.comments > ul.forum > li .previsu li {border: none;}
ul.forum .spip_logos {float: none; padding: 1px; border:none;}
.comment-meta {display: table-cell; width: 25%; background-color: #DDD; padding: 10px; text-align: center;}
.comment-meta .permalink {float: left; color: #666;}
.comment-meta .in-reply-to {display: none;}
.comment-content {display: table-cell; padding: 10px; background-color: #FFF;}
div.comments > ul.forum li .comment-content li {border: none;}
#content ul.comments-ul .formulaire_spip {margin-bottom: 0;}
p.comment-reply {text-align: right; margin-top: 20px;}
.modererforum {display:none;} /* afficher les boutons seulement au survol */
.comment:hover > .modererforum {display: block; text-align: left; padding-left: 25%; text-align: right;}
.modererforum form {display: inline-block;}
.modererforum form button {margin-left: 10px;}

/* Mini-calendrier */



/* Pied de page */

#retour_haut {text-align: right;}
#pied {padding: 10px; border-top-width: 1px; border-top-style: solid;}