<plugin>
	<nom>Th&#232;me graphique du CEPED</nom>
	<auteur>[Joseph Larmarange->http://joseph.larmarange.net]</auteur>
	<version>1.0.0</version>
	<licence>Creative Commons Attribution 2.5</licence>
	<slogan>Un th&#232;me responsive</slogan>
	<description>Th&#232;me Z responsive</description>
	<lien>https://github.com/larmarange/larma</lien>
	<icon>vignette.jpg</icon>
	<etat>test</etat>
	<prefix>theme_ceped</prefix>
	<necessite id="SPIP" version="[2.0.10;3.0.99]" />
	<utilise id="Z" version="[1.7.0;1.9.*]" />
	<utilise id="zvide" version="[2.1.3;]" />
	<bandeau>images/header-photo.jpg</bandeau>
	<categorie>theme</categorie>
</plugin>
