
.icon-mail-alt:before { content: '\e81a'; } /* '' */
.icon-rss-alt:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-lock-open-alt:before { content: '\e81f'; } /* '' */
.icon-tag:before { content: '\e814'; } /* '' */
.icon-tags:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-comment-empty:before { content: '\e818'; } /* '' */
.icon-chat-empty:before { content: '\e819'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-direction:before { content: '\e821'; } /* '' */
.icon-folder-open:before { content: '\e81c'; } /* '' */
.icon-rss:before { content: '\e823'; } /* '' */
.icon-phone:before { content: '\e810'; } /* '' */
.icon-phone-squared:before { content: '\e820'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e81d'; } /* '' */
.icon-book:before { content: '\e80e'; } /* '' */
.icon-megaphone:before { content: '\e811'; } /* '' */
.icon-beaker:before { content: '\e808'; } /* '' */
.icon-hammer:before { content: '\e822'; } /* '' */
.icon-sitemap:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e80c'; } /* '' */
.icon-github-squared:before { content: '\e80b'; } /* '' */
.icon-gplus:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-address:before { content: '\e805'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e81e'; } /* '' */